@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#tile-0:checked ~ .check-0 {
  @apply opacity-100;
}

#tile-1:checked ~ .check-1 {
  @apply opacity-100;
}

#tile-2:checked ~ .check-2 {
  @apply opacity-100;
}

#tile-3:checked ~ .check-3 {
  @apply opacity-100;
}

#tile-4:checked ~ .check-4 {
  @apply opacity-100;
}

#tile-5:checked ~ .check-5 {
  @apply opacity-100;
}

#tile-6:checked ~ .check-6 {
  @apply opacity-100;
}

#tile-7:checked ~ .check-7 {
  @apply opacity-100;
}

#tile-8:checked ~ .check-8 {
  @apply opacity-100;
}